.s-servise {
	position: relative;
	z-index: 2;

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		z-index: -1;
		top: 0;
		right: 0%;
		display: block;
		overflow: hidden;
		width: 100%;

		@include media-breakpoint-up(lg) {

			transform: skewX(20deg);
		}

	}

	&__sub-title {
		color: $danger;
		@extend h4;
		font-weight: 800;
		line-height: 0.91;
		text-transform: uppercase;
		margin-bottom: 4vh;
	}

	ul {
		margin-bottom: 4vh;
		// margin-bottom: auto;
		min-height: rem(280);
	}

	li {
		list-style: none;
		@extend .h5;
		position: relative;
		padding-left: rem(50);
		margin-bottom: rem(19);

		img {

			position: absolute;
			left: rem(10);
			top: rem(5);
		}
	}


	&__item {
		top: 55vh;
		position: absolute;
		z-index: -1;

		@include media-breakpoint-up(lg) {
			position: fixed;

			left: calc(100vw * 3 + 120vw + #{rem(200px)});
		}

		left: calc(10vw + #{rem(200px)});

		@include media-breakpoint-down(md) {}

		z-index: -1;
		@include mt;
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			left: -50%;
			top: -50%;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		picture {
			background-color: transparent;
			width: 100%;
			height: 100%;

			&.animate {
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}


		&:nth-child(1) {
			@include media-breakpoint-up(sm) {

				width: rem(1317px);
				height: rem(1348px);
				margin-left: rem(240);

				// #D3ECD1
			}

			top: 26vh;
			transform: rotate(15.849999999999994deg);
		}

		&:nth-child(2) {
			@include media-breakpoint-up(sm) {

				width: rem(349px);
				height: rem(417px);
				margin-left: rem(310);
			}

			top: 84vh;

			&::before {
				width: 80%;
				height: 80%;
				box-shadow: rem(249px) rem(317px) $h4-font-size rgba(0, 0, 0, 0.28);
				// box-shadow: rem(70px) rem(70px) $h4-font-size rgba(0, 0, 0, 0.28);
			}
		}

		&--2 {
			@include media-breakpoint-up(lg) {

				left: calc(100vw * 5 + 20vw + #{rem(200px)});
			}

			@include media-breakpoint-up(sm) {

				left: calc(20vw + #{rem(200px)});
				width: rem(1791px);
				height: rem(1779px);
				margin-left: rem(310);
			}

			transform: rotate(-138.81deg);
			top: 24vh;

			&::before {


				// box-shadow: rem(70px) rem(70px) $h4-font-size rgba(0, 0, 0, 0.28);
			}
		}

		&--3 {
			@include media-breakpoint-up(lg) {

				left: calc(100vw * 6 + 20vw + #{rem(200px)});
			}

			@include media-breakpoint-up(sm) {

				left: calc(5vw + #{rem(200px)});
				width: rem(1791px);
				margin-left: rem(140);
				height: rem(1779px);
			}

			margin-top: rem(150);
			transform: rotate(161.19deg);
			top: 20vh;

			@include media-breakpoint-up(lg) {

				&::before {
					box-shadow: rem(1800px / 2) rem(1800px / 2) $h4-font-size rgba(0, 0, 0, 0.28);

					width: 50%;
					height: 50%;
					// box-shadow: rem(70px) rem(70px) $h4-font-size rgba(0, 0, 0, 0.28);
				}
			}
		}

	}


	// background-color: red;

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.s-servise


// start .s-servise
.s-servise--visual {

	&::before {
		// width: 120%;
		// background-color: #D3ECD1;
		background-color: rgba(211, 236, 209, 0.685);
	}

	&.swiper-slide-active {
		&::before {

			// width: 130%;
		}

	}

	z-index: 39;
}

.s-servise--content {
	z-index: 38;

	&::before {

		background: rgba($color: #FCDD95, $alpha: .5);
	}
}

.s-servise--project-management {
	z-index: 37;

	&::before {

		background: rgba($color: #E3FCFC, $alpha: .5);
	}

}