.footer {

  @include media-breakpoint-up(md) {

    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
  }

  position: relative;
  padding: rem(30) 0;

  &::before {
    content: '';
    width: rem(512);
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: rgba($color: #333333, $alpha: .2);
  }

  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}

  @include media-breakpoint-up(xs) {}


  // 
  @include media-breakpoint-between(md, xl) {}


  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}


  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(xs) {}
}