mixin sCases()
	// start sCases
	+b.SECTION.sCases.section.swiper-slide#sCases&attributes(attributes)
		.container
			h2 Портфолио
			+e.sub-title Все созданные нами работы принадлежат нашим клиентам. Мы&nbsp;не&nbsp;рекламируем свои услуги. Если вы&nbsp;зашли на&nbsp;наш сайт, значит кто-то рассказал вам о&nbsp;нас
			p Мы&nbsp;будем рады поделиться примерами наших работ при личной встрече
			+btn
	// end sCases