mixin header-block()
	// start header-block
	+b.header-block.section.swiper-slide#header-block&attributes(attributes)
		.container
			+e.inner
				h1 Ваш #[span стиль] презентации
				p Управление проектами. <br> Визуализация. Контент. Продвижение.
				+btn()
			+e.wrap
				+e.item.animate-item-js(v-for="n in 5" :id="'target' + (6 - n)")
					<picture> 
						<source :srcset="'img/@2x/webp/elem-'+ (6 - n) + '.webp'" type="image/webp" media="(min-width:576px)"/>
						<source :srcset="'img/@1x/webp/elem-'+ (6 - n) + '.webp'" type="image/webp"/>
						<source :srcset="'img/@2x/elem-' + (6 - n) + '.png'" type="image/png" media="(min-width:576px)"/>
						<source :srcset="'img/@1x/elem-'+(6 - n)+ '.png'" type="image/png"/>
						<img :src="'img/@2x/elem-'+(6 - n)+ '.png'" alt=""/>
					</picture> 
	// end header-block