mixin sStrengths()
	// start sStrengths
	+b.SECTION.sStrengths.section.swiper-slide#sStrengths&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sStrengths
				
			.row
	// end sStrengths