mixin header()

	// start HEADER.header
	+b.HEADER.header
		.container
			.row
				+e.col.col-lg-auto.col
					+e.logo(href='/')
						img(src="img/svg/logo.svg", alt="")
				.col-lg.order-lg-0.order-last
					+b.menu-mobile--js
						+b.toggle-menu-mobile--js.d-lg-none
							span
						+e.inner  
							ul
								li
									a(href="#header-block" data-slide="0") Главное 
								li
									a(href="#visual" data-slide="4") Услуги
								
								li
									a(href="#clients" data-slide="7") Портфолио
								
								//- li
								//- 	a(href="#clients" data-slide="4") Клиенты
								
								li
									a(href="#documents" data-slide="8") Документы
								
								li
									a(href="#contacts" data-slide="9") Контакты
							.d-md-none
								ul.ttu.lang
									li
										a(href="#") Ru
									li
										a(href="#").text-danger EN
							.d-lg-none.pl-3
								+e.tel(href="#") +7 495 336 55 44
								br
								a.btn.btn-outline-danger.mt-4.link-modal(href="#modal-call") Стать клиетом
				+e.col.col-auto.d-none.d-md-block
					ul.ttu.lang
						li
							a(href="#") Ru
						li
							a(href="#").text-danger EN
				+e.col.col-auto
					+e.tel(href="#") +7 495 336 55 44
				+e.col.col-auto.d-none.d-md-block
					+e.btn.link-modal(href="#modal-call") Стать клиетом
				+e.col.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
							






						
	// end HEADER.header
