.s-contact {

	&__item {
		position: absolute;

		@include media-breakpoint-up(lg) {
			position: fixed;

			top: 75vh;
			left: calc(650vw + #{rem(200px)});
		}

		top: 35vh;

		left: calc(20vw + #{rem(200px)});
		z-index: 2;
		@include mt;
		pointer-events: none;
		z-index: -1;

		&::before {
			content: '';
			position: absolute;
			left: -50%;
			top: -50%;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		picture {
			background-color: transparent;
			width: 100%;
			height: 100%;

			&.animate {
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		img {
			width: 100%;
			height: 100%;
		}

		&:nth-child(5) {
			@include media-breakpoint-up(sm) {

				width: rem(174px);
				height: rem(167px);

				top: 94vh;
				margin-left: rem(240);
			}

			margin-left: rem(40);

			top: 44vh;

			@include media-breakpoint-up(lg) {}



			&::before {
				box-shadow: rem(130px) rem(130px) $h4-font-size rgba(0, 0, 0, 0.28);
				// box-shadow: rem(70px) rem(70px) $h4-font-size rgba(0, 0, 0, 0.28);
			}
		}

		&:nth-child(4) {
			@include media-breakpoint-up(sm) {

				width: rem(325px);
				height: rem(317px);
				margin-left: rem(280);
			}

			top: 55vh;


			&::before {
				left: -70%;
				top: -70%;
				width: 90%;
				height: 90%;
				box-shadow: rem(325px) rem(317px) $h4-font-size rgba(0, 0, 0, 0.28);
			}
		}

		&:nth-child(3) {
			@include media-breakpoint-up(sm) {

				width: rem(863px);
				height: rem(829px);
				margin-left: rem(240);
			}

			top: 60vh;

			// transform: rotate(112.65deg);
		}

		&:nth-child(2) {
			@include media-breakpoint-up(sm) {

				width: rem(408px);
				height: rem(357px);
				top: 46vh;
				margin-left: rem(480);
			}

			// margin-left: rem(80);

			transform: rotate(8.25deg);
		}

		&:nth-child(1) {
			@include media-breakpoint-up(sm) {

				width: rem(414px);
				height: rem(490px);
				margin-left: rem(110);
			}

			top: 24vh;


			&.fish {
				transform: translate(-400px, -400px);
			}
		}

	}


	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}