mixin s-contact()
	// start s-contact
	+b.s-contact.section.swiper-slide.block-with-lazy#contact&attributes(attributes)
		.container
			h2 Контакты
			+e.center
				+e.group
					+e.icon-wrap
						+icon('tel')
					+e.content
						+e.title Контактный телефон
						+e.lg(href="href:tel:+7(495)9672787") +7 (495) 967 2787
				
				+e.group
					+e.icon-wrap
						+icon('clock')
					+e.content
						+e.title Часы работы:
						+e.lg Пн – Пт , 9:00 – 19:00
				
				+e.group
					+e.icon-wrap
						+icon('mark')
					+e.content
						+e.title Наш адрес:
						+e.lg 119270, г. Москва, Бизнес-парк &laquo;Союз&raquo;, Лужнецкая набережная дом 2/4, строение&nbsp;6, офис 109
						p: strong Нужна парковка?
						p.small Если Вы&nbsp;едете к&nbsp;нам на&nbsp;автомобиле, Вы&nbsp;сможете воспользоваться гостевым паркингом Бизнес-парка &laquo;Союз&raquo;. Въезд под шлагбаум с&nbsp;Лужнецкой набережной между домом 2/4 строение 72&nbsp;и&nbsp;домом 2/4 строение&nbsp;59.
				+e.group
					+e.icon-wrap
						+icon('mail')
					+e.content
						+e.title Электронная почта
						+e.lg(href="mailto:info@trinity-media.net") info@trinity-media.net
			+e.wrap
				+e.item.animate-item-js(v-for="n in 5" :id="'target-contact' + (6 - n)")
					<picture> 
						<source :srcset="'img/@2x/webp/elem-'+ (6 - n) + '.webp'" type="image/webp" media="(min-width:576px)"/>
						<source :srcset="'img/@1x/webp/elem-'+ (6 - n) + '.webp'" type="image/webp"/>
						<source :srcset="'img/@2x/elem-' + (6 - n) + '.png'" type="image/png" media="(min-width:576px)"/>
						<source :srcset="'img/@1x/elem-'+(6 - n)+ '.png'" type="image/png"/>
						<img :src="'img/@2x/elem-'+(6 - n)+ '.png'" alt=""/>
					</picture> 
	// end s-contact