include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug 
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/header-block/_header-block.pug
include ../../blocks/s-form/_s-form.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="Профессионалы по созданию креативного контента и оформлению. Сделаем так, чтобы ваши тексты читали, презентации смотрели и слушали, а на соцсети подписывались.")
		<meta name="keywords" content="управление проектами, визуализация, разработка бренда, креатив, создание логотипа, оформление идеи, оформдение презентации, фотография, фотоуслуги, бильд редакция, контент, продвижение, верстка печатной продукции, тексты, презентации, социальные сети, стратегия мероприятия, концепция мероприятия, написание речей, написание выступлений, спорт, спортивный маркетинг, управление маркетингом, операционный маркетинг, логистическая поддержка">
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, shrink-to-fit=no")
		link(rel='shortcut icon',   type="image/png",  href='img/favicon/favicon.png') 
		<meta name="format-detection" content="telephone=no"> 
		// Custom Browsers Color
		meta(name='theme-color', content='#004d74')
		+allcss()
	block variables
	body(class= mainPage)#container1
		+ie11()
		.main-wrapper#app
			block pagecontent
				h3 content
		+modal()
		+allcjs()
		
		